.open-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: white;
  width: 300px;
  padding: 20px;
}
.modal-title {
  font-size: 20px;
  font-weight: bold;
}
.close-wrapper {
  text-align: right;
}
